td
{
	text-align: center;
}

u {
    text-decoration: underline dotted;
}

.honolulu {
    background-color: #353a40
}

.btncard {
    padding: 0px 4px;
}

.enviar {
    background-color: #96c83f !important;
}


/* FOOTER
-------------------------------------------------- */

#main-footer {
  background: #1d3c4e;
  background-color: #1f5170;
  color: #fff;
  padding: 1.5rem;
}

header {
    background-color: #353a40 !important;
    z-index: 1030;
    width: 100%;
}

.bsas {
    background-image:
    linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
}

.colorverde {
    background-color: #29a744 !important;
}

.opacidad {
    filter: brightness(50%);
}